[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
lxml = "*"
numpy = "*"
pandas = "*"
plotly = "*"
sqlalchemy = "<2"
sqlmodel = "*"
statsmodels = "*"
streamlit = "==1.17"
streamlit-aggrid = "*"

[dev-packages]
autopep8 = "*"
coverage = "*"
markdown = "~=3.3"
mkdocs = "*"
mkdocs-material = "*"
mypy = "*"
pipenv = "*"
pytest = "*"
pytest-cov = "*"
types-markdown = "*"
types-python-dateutil = "*"

[requires]
python_version = "3.10"

[scripts]
docs-serve = "mkdocs serve"
init = "git submodule update --init --remote --recursive"
rebuild = "python src/rebuild.py"
run = "python -m streamlit run src/Home.py"
update = "git submodule update --remote --recursive"
